<blockquote>
    <ul>
        {{ if .Get "link" }}
        <li>
            Original Link :
            <a href="{{ .Get "link" }}" target="_blank" rel="noopener">{{ .Get "link" }}</a>
        </li>
        {{ else }}
        {{ $parts := split .Page.RelPermalink "/" }}
        {{ $startIndex := 0 }}
        {{ range $index, $element := $parts }}
            {{ if eq $element "docs" }}
                {{ $startIndex = $index }}
                {{ break }}
            {{ end }}
        {{ end }}
        {{ $cleanedLink := "" }}
        {{ range $index, $element := $parts }}
            {{ if gt $index $startIndex }}
                {{ $cleanedLink = printf "%s/%s" $cleanedLink $element }}
            {{ end }}
        {{ end }}
        <li>
            Original Link :
            <a href="https://keras.io{{ $cleanedLink }}" target="_blank" rel="noopener">https://keras.io{{ $cleanedLink }}</a>
        </li>
        {{ end }}
        <li>Last Checked at : {{ .Get "checkedAt" }}</li>
    </ul>
</blockquote>