<p style="margin-top: 1.85rem;">
  <span style="float: right">
    <a href='{{ .Get "link" }}' target="_blank"
      class="not-prose hx-font-medium hx-cursor-pointer hx-px-6 hx-py-3 hx-rounded-full hx-text-center hx-text-white hx-inline-block hx-bg-primary-600 hover:hx-bg-primary-700 focus:hx-outline-none focus:hx-ring-4 focus:hx-ring-primary-300 dark:hx-bg-primary-600 dark:hover:hx-bg-primary-700 dark:focus:hx-ring-primary-800 hx-transition-all hx-ease-in hx-duration-200"
      style="
        background: rgb(25 77 143);
        padding: 0.4em 1em;
        border-radius: 0.6em;
      ">source</a>
  </span>
</p>