:root {
    --primary-hue: 0deg;
    --primary-saturation: 100%;
    --primary-lightness: 57%;
}

body:is(html[class~="dark"] *) {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(243 244 246 / var(--tw-text-opacity));
}

.dark .highlight {
    /* Background */ .bg { color:#cdd6f4;background-color:#1e1e2e; }
    /* PreWrapper */ .chroma { color:#cdd6f4;background-color:#1e1e2e; }
    /* Other */ .chroma .x {  }
    /* Error */ .chroma .err { color:#f38ba8 }
    /* CodeLine */ .chroma .cl {  }
    /* LineLink */ .chroma .lnlinks { outline:none;text-decoration:none;color:inherit }
    //* LineTableTD  .chroma .lntd { vertical-align:top;padding:0;margin:0;border:0; }
    /* LineTable  .chroma .lntable { border-spacing:0;padding:0;margin:0;border:0; }
    /* LineHighlight  .chroma .hl { background-color:#45475a }
    /* LineNumbersTable  .chroma .lnt { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f849c }
    /* LineNumbers  .chroma .ln { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f849c } */
    /* Line */ .chroma .line { display:flex; }
    /* Keyword */ .chroma .k { color:#cba6f7 }
    /* KeywordConstant */ .chroma .kc { color:#fab387 }
    /* KeywordDeclaration */ .chroma .kd { color:#f38ba8 }
    /* KeywordNamespace */ .chroma .kn { color:#94e2d5 }
    /* KeywordPseudo */ .chroma .kp { color:#cba6f7 }
    /* KeywordReserved */ .chroma .kr { color:#cba6f7 }
    /* KeywordType */ .chroma .kt { color:#f38ba8 }
    /* Name */ .chroma .n {  }
    /* NameAttribute */ .chroma .na { color:#89b4fa }
    /* NameBuiltin */ .chroma .nb { color:#89dceb }
    /* NameBuiltinPseudo */ .chroma .bp { color:#89dceb }
    /* NameClass */ .chroma .nc { color:#f9e2af }
    /* NameConstant */ .chroma .no { color:#f9e2af }
    /* NameDecorator */ .chroma .nd { color:#89b4fa;font-weight:bold }
    /* NameEntity */ .chroma .ni { color:#94e2d5 }
    /* NameException */ .chroma .ne { color:#fab387 }
    /* NameFunction */ .chroma .nf { color:#89b4fa }
    /* NameFunctionMagic */ .chroma .fm { color:#89b4fa }
    /* NameLabel */ .chroma .nl { color:#89dceb }
    /* NameNamespace */ .chroma .nn { color:#fab387 }
    /* NameOther */ .chroma .nx {  }
    /* NameProperty */ .chroma .py { color:#fab387 }
    /* NameTag */ .chroma .nt { color:#cba6f7 }
    /* NameVariable */ .chroma .nv { color:#f5e0dc }
    /* NameVariableClass */ .chroma .vc { color:#f5e0dc }
    /* NameVariableGlobal */ .chroma .vg { color:#f5e0dc }
    /* NameVariableInstance */ .chroma .vi { color:#f5e0dc }
    /* NameVariableMagic */ .chroma .vm { color:#f5e0dc }
    /* Literal */ .chroma .l {  }
    /* LiteralDate */ .chroma .ld {  }
    /* LiteralString */ .chroma .s { color:#a6e3a1 }
    /* LiteralStringAffix */ .chroma .sa { color:#f38ba8 }
    /* LiteralStringBacktick */ .chroma .sb { color:#a6e3a1 }
    /* LiteralStringChar */ .chroma .sc { color:#a6e3a1 }
    /* LiteralStringDelimiter */ .chroma .dl { color:#89b4fa }
    /* LiteralStringDoc */ .chroma .sd { color:#6c7086 }
    /* LiteralStringDouble */ .chroma .s2 { color:#a6e3a1 }
    /* LiteralStringEscape */ .chroma .se { color:#89b4fa }
    /* LiteralStringHeredoc */ .chroma .sh { color:#6c7086 }
    /* LiteralStringInterpol */ .chroma .si { color:#a6e3a1 }
    /* LiteralStringOther */ .chroma .sx { color:#a6e3a1 }
    /* LiteralStringRegex */ .chroma .sr { color:#94e2d5 }
    /* LiteralStringSingle */ .chroma .s1 { color:#a6e3a1 }
    /* LiteralStringSymbol */ .chroma .ss { color:#a6e3a1 }
    /* LiteralNumber */ .chroma .m { color:#fab387 }
    /* LiteralNumberBin */ .chroma .mb { color:#fab387 }
    /* LiteralNumberFloat */ .chroma .mf { color:#fab387 }
    /* LiteralNumberHex */ .chroma .mh { color:#fab387 }
    /* LiteralNumberInteger */ .chroma .mi { color:#fab387 }
    /* LiteralNumberIntegerLong */ .chroma .il { color:#fab387 }
    /* LiteralNumberOct */ .chroma .mo { color:#fab387 }
    /* Operator */ .chroma .o { color:#89dceb;font-weight:bold }
    /* OperatorWord */ .chroma .ow { color:#89dceb;font-weight:bold }
    /* Punctuation */ .chroma .p {  }
    /* Comment */ .chroma .c { color:#6c7086;font-style:italic }
    /* CommentHashbang */ .chroma .ch { color:#6c7086;font-style:italic }
    /* CommentMultiline */ .chroma .cm { color:#6c7086;font-style:italic }
    /* CommentSingle */ .chroma .c1 { color:#6c7086;font-style:italic }
    /* CommentSpecial */ .chroma .cs { color:#6c7086;font-style:italic }
    /* CommentPreproc */ .chroma .cp { color:#6c7086;font-style:italic }
    /* CommentPreprocFile */ .chroma .cpf { color:#6c7086;font-weight:bold;font-style:italic }
    /* Generic */ .chroma .g {  }
    /* GenericDeleted */ .chroma .gd { color:#f38ba8;background-color:#313244 }
    /* GenericEmph */ .chroma .ge { font-style:italic }
    /* GenericError */ .chroma .gr { color:#f38ba8 }
    /* GenericHeading */ .chroma .gh { color:#fab387;font-weight:bold }
    /* GenericInserted */ .chroma .gi { color:#a6e3a1;background-color:#313244 }
    /* GenericOutput */ .chroma .go {  }
    /* GenericPrompt */ .chroma .gp {  }
    /* GenericStrong */ .chroma .gs { font-weight:bold }
    /* GenericSubheading */ .chroma .gu { color:#fab387;font-weight:bold }
    /* GenericTraceback */ .chroma .gt { color:#f38ba8 }
    /* GenericUnderline */ .chroma .gl { text-decoration:underline }
    /* TextWhitespace */ .chroma .w {  }
}

.highlight {
    /* Background */ .bg { color:#272822;background-color:#f3f3f3; }
    /* PreWrapper */ .chroma { color:#272822;background-color:#f3f3f3; }
    /* Other  .chroma .x {  } */
    /* Error */ .chroma .err { color:#960050;background-color:#1e0010 }
    /* CodeLine  .chroma .cl {  } */
    /* LineLink */ .chroma .lnlinks { outline:none;text-decoration:none;color:inherit }
    /* LineTableTD  .chroma .lntd { vertical-align:top;padding:0;margin:0;border:0; }
    /* LineTable  .chroma .lntable { border-spacing:0;padding:0;margin:0;border:0; }
    /* LineHighlight  .chroma .hl { background-color:#e1e1e1 }
    /* LineNumbersTable  .chroma .lnt { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f }
    /* LineNumbers  .chroma .ln { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f } */
    /* Line */ .chroma .line { display:flex; }
    /* Keyword */ .chroma .k { color:#00a8c8 }
    /* KeywordConstant */ .chroma .kc { color:#00a8c8 }
    /* KeywordDeclaration */ .chroma .kd { color:#00a8c8 }
    /* KeywordNamespace */ .chroma .kn { color:#f92672 }
    /* KeywordPseudo */ .chroma .kp { color:#00a8c8 }
    /* KeywordReserved */ .chroma .kr { color:#00a8c8 }
    /* KeywordType */ .chroma .kt { color:#00a8c8 }
    /* Name  .chroma .n { color:#111 } */
    /* NameAttribute */ .chroma .na { color:#75af00 }
    /* NameBuiltin */ .chroma .nb { color:#111 }
    /* NameBuiltinPseudo */ .chroma .bp { color:#111 }
    /* NameClass */ .chroma .nc { color:#75af00 }
    /* NameConstant */ .chroma .no { color:#00a8c8 }
    /* NameDecorator */ .chroma .nd { color:#75af00 }
    /* NameEntity */ .chroma .ni { color:#111 }
    /* NameException */ .chroma .ne { color:#75af00 }
    /* NameFunction */ .chroma .nf { color:#75af00 }
    /* NameFunctionMagic  .chroma .fm { color:#111 } */
    /* NameLabel */ .chroma .nl { color:#111 }
    /* NameNamespace */ .chroma .nn { color:#111 }
    /* NameOther  .chroma .nx { color:#75af00 } */
    /* NameProperty  .chroma .py { color:#111 } */
    /* NameTag */ .chroma .nt { color:#f92672 }
    /* NameVariable */ .chroma .nv { color:#111 }
    /* NameVariableClass */ .chroma .vc { color:#111 }
    /* NameVariableGlobal */ .chroma .vg { color:#111 }
    /* NameVariableInstance */ .chroma .vi { color:#111 }
    /* NameVariableMagic  .chroma .vm { color:#111 } */
    /* Literal  .chroma .l { color:#ae81ff } */
    /* LiteralDate  .chroma .ld { color:#d88200 } */
    /* LiteralString */ .chroma .s { color:#d88200 }
    /* LiteralStringAffix */ .chroma .sa { color:#d88200 }
    /* LiteralStringBacktick */ .chroma .sb { color:#d88200 }
    /* LiteralStringChar */ .chroma .sc { color:#d88200 }
    /* LiteralStringDelimiter */ .chroma .dl { color:#d88200 }
    /* LiteralStringDoc */ .chroma .sd { color:#d88200 }
    /* LiteralStringDouble */ .chroma .s2 { color:#d88200 }
    /* LiteralStringEscape */ .chroma .se { color:#8045ff }
    /* LiteralStringHeredoc */ .chroma .sh { color:#d88200 }
    /* LiteralStringInterpol */ .chroma .si { color:#d88200 }
    /* LiteralStringOther */ .chroma .sx { color:#d88200 }
    /* LiteralStringRegex */ .chroma .sr { color:#d88200 }
    /* LiteralStringSingle */ .chroma .s1 { color:#d88200 }
    /* LiteralStringSymbol */ .chroma .ss { color:#d88200 }
    /* LiteralNumber */ .chroma .m { color:#ae81ff }
    /* LiteralNumberBin */ .chroma .mb { color:#ae81ff }
    /* LiteralNumberFloat */ .chroma .mf { color:#ae81ff }
    /* LiteralNumberHex */ .chroma .mh { color:#ae81ff }
    /* LiteralNumberInteger */ .chroma .mi { color:#ae81ff }
    /* LiteralNumberIntegerLong */ .chroma .il { color:#ae81ff }
    /* LiteralNumberOct */ .chroma .mo { color:#ae81ff }
    /* Operator */ .chroma .o { color:#f92672 }
    /* OperatorWord */ .chroma .ow { color:#f92672 }
    /* Punctuation  .chroma .p { color:#111 } */
    /* Comment */ .chroma .c { color:#75715e }
    /* CommentHashbang */ .chroma .ch { color:#75715e }
    /* CommentMultiline */ .chroma .cm { color:#75715e }
    /* CommentSingle */ .chroma .c1 { color:#75715e }
    /* CommentSpecial */ .chroma .cs { color:#75715e }
    /* CommentPreproc */ .chroma .cp { color:#75715e }
    /* CommentPreprocFile */ .chroma .cpf { color:#75715e }
    /* Generic  .chroma .g {  } */
    /* GenericDeleted */ .chroma .gd {  }
    /* GenericEmph */ .chroma .ge { font-style:italic }
    /* GenericError */ .chroma .gr {  }
    /* GenericHeading */ .chroma .gh {  }
    /* GenericInserted */ .chroma .gi {  }
    /* GenericOutput */ .chroma .go {  }
    /* GenericPrompt */ .chroma .gp {  }
    /* GenericStrong */ .chroma .gs { font-weight:bold }
    /* GenericSubheading */ .chroma .gu {  }
    /* GenericTraceback */ .chroma .gt {  }
    /* GenericUnderline */ .chroma .gl {  }
    /* TextWhitespace */ .chroma .w {  }
}