<div class="container">
    <audio controls style="width: 100%; margin-bottom: 20px">
        {{ with .Get "wav" }}
            {{ $wavPath := . | replaceRE "^/" "" | relURL }}
            <source type="audio/wav" src="{{ $wavPath }}">
        {{ end }}
        {{ with .Get "ogg" }}
            {{ $oggPath := . | replaceRE "^/" "" | relURL }}
            <source type="audio/ogg" src="{{ $oggPath }}">
        {{ end }}
        {{ with .Get "mp3" }}
            {{ $mp3Path := . | replaceRE "^/" "" | relURL }}
            <source type="audio/mpeg" src="{{ $mp3Path }}">
        {{ end }}
        Your browser does not support the audio element.
    </audio>
</div>